body{
    margin:0 ;
    padding: 0;
}

#game{
    width: 35rem;
    height: 13.4rem;
    border: 1px solid black;
}
#score{
    font: 1em sans-serif;
    left: 32rem;
    bottom: 2.9rem;
    position: relative;
}
#highscore{
    font: 1em sans-serif;
    left: 1rem;
    bottom: 4rem;
    padding-left: 0.3em;
    position: relative;
}
#character{
    height: 4rem;
    width: 20px;
    background-color: black;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms ease-in-out;
    -webkit-animation: jump 500ms ease-in-out;
    -ms-animation: jump 500ms ease-in-out;
    -moz-animation: jump 500ms ease-in-out;
    -o-animation: jump 500ms ease-in-out;
}
#block{
    width: 20px;
    height: 20px;
    background-color: brown;
    position: relative;
    top: 130px;
    left: 580px;
    animation: block 1s infinite linear;
    -webkit-animation: block 1s infinite linear;
    -moz-animation: block 1s infinite linear;
    -ms-animation: block 1s infinite linear;
    -o-animation: block 1s infinite linear;
}
@keyframes block {
    0%{left: 580px;}
    100%{left:-40px}
}
@keyframes jump{
    0%{top: 150px}
    30%{top: 100px}
    70%{top: 100px}
    100%{top: 150px}
}
@media only screen and (max-width:600px) {
#game{
    width: 100vw;
}
#score{
    left: 90vw;
}

}